#Nome{
    color: crimson; 
}
a:hover{
    color: purple;
}
body{
    font-size:18pt;
    text-align: center;
    background-color:black;
}
.texto{
    color:white;
    text-align: center;
}
ol{
    list-style-position: inside; 
    padding: 0;
}
ul{
    list-style-position: inside;
    padding: 0;
}
