body{
    background-color: tan;
}
#title{
    text-align: center;
    color: black;
}
.texto{
    color: black;
    text-align: center;
}
#tabela1{
    margin: auto;
    text-align: center;
    color: black;
}
a:hover{
    color: brown;
}