<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link href="estilo.css" rel="stylesheet">
</head>
<body>
<h1>Bem vindo <%= nome %></h1>

<p>Email: <%= Email %> </p>
<p>Senha: <%= senha %></p>

</body>
</html>