.cabeça{
    display:flex;
    background-color: bisque;
    border:solid 4px darkblue; 
    justify-content: space-between;
    align-items: center;
}
#titulo{
    color:darkgreen;
    font-size: 25px;
}
.links{
    background-color: lightskyblue;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    gap: 150px;
}

a:hover{
    color: purple;
}
.intro{
    background-color: lightgray;
    align-items: center;
    display: flex;
    justify-content: center;
}
.paragrafos{
    background-color: lightgray;
    text-align: center;
    font-size: 20pt;
    color:indigo;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.livros{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;
}
.br{
    background-color: lightgray;
    height: 70px;
}